<div class="panel-category-list no-panels animated fadeIn" ng-show="currentCategory.SubCategories.length">
    <loadingindicator ng-show="categoryLoadingIndicator" title="{{'Loading Rutgers New Jersey Medical School Products...' | r | xlat}}" />
    <nav class="nav 451_lbl_subcatlist">
        <ul>
            <li class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="c in currentCategory.SubCategories">
                <div class="well h-100">
                    <a ng-href="catalog/{{c.InteropID}}">
                        <figure ng-show="c.Image.URL">
                            <img class="img-responsive" ng-src="{{c.Image.URL}}"/>
                        </figure>
                        <figure ng-hide="c.Image.URL">
                            <img class="img-responsive" ng-src="{{c.Image.URL}}"/>
                        </figure>
                        <h5 ng-bind-html="c.Name" />
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div id="footer" class="visible-lg">
    <ul class="footer">
        <li>
            <a href="http://njms.rutgers.edu" class="c-links" target="blank">Copyright &copy; Rutgers New Jersey Medical School {{year}}</a>
        </li>
        <li style="float:right;">
            <a id="451qa_home_link" ng-class="{'c-links-active': isActive('catalog')}" ng-show="Four51User.isAuthenticated()" href="catalog" class="c-links footer-gutter">Home</a>
            <a ng-repeat="t in tree" ng-class="{'c-links-active': isInPath('{{t.InteropID}}'),'': t.SubCategories.length >= 0}" ng-if="t.SubCategories.length == 0 || t.SubCategories.length > 0" href="catalog/{{t.InteropID}}" class="c-links footer-gutter">{{t.Name}}</a>
        </li>
    </ul>
    <div style="clear:both;"></div>
</div>