<div class="451qa_prod_item row animated fadeIn">
    <div class="col-xs-12 text-center">
        <a class="thumbnail" href="{{LineItem.Product.Type == 'Kit' ? 'kit' : 'product'}}/{{LineItem.Product.InteropID}}">
            <figure ng-show="LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl" >
                <img ng-src="{{LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl}}"/>
            </figure>
            <figure ng-hide="LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl">
                <img class="img-responsive" src="https://www.four51.com/Images/Product/01d9531cf7e24718aad221e6734d5817.png" />
            </figure>
        </a>
    </div>
    <div class="col-xs-12 text-left">
        <div class="panel-body">
            <h3 class="text-center">{{LineItem.Product.Name}}</h3>
            <div>
                <p ng-bind-html="trustedDescription(LineItem.Product)" ng-show="LineItem.Product.Description" />
                <p ng-show="LineItem.PriceSchedule.PriceBreaks[0].Price > 0.00"><span style="color: #f04f23; size: 20px; font-weight: bold;">Minimum
                {{LineItem.PriceSchedule.PriceBreaks[0].Quantity}}</span>
                    <span ng-show="LineItem.Product.QuantityMultiplier > 1">(x {{LineItem.Product.QuantityMultiplier}})</span><br>for
                    {{'' | xlat}} {{LineItem.PriceSchedule.PriceBreaks[0].Price | culturecurrency}}
                </p>
                <!-- <p ng-hide="LineItem.Product.UnitOfMeasure">
                      {{'Unit of Measure' | r | xlat}}: {{LineItem.Product.UnitOfMeasure}}
                 </p> -->
                <p ng-show="LineItem.Product.DisplayInventory && inventoryDisplay(LineItem.Product, LineItem.Variant) != undefined">
                    {{'Quantity Available' | r | xlat}}: {{inventoryDisplay(LineItem.Product, LineItem.Variant) }}
                </p>
                <p ng-show="LineItem.PriceSchedule.PriceBreaks[0].Price == 0.00">
                    <br>
                </p>
                <p ng-show="LineItem.Product.DisplayInventory && inventoryDisplay(LineItem.Product, LineItem.Variant) == undefined">
                    <br>
                </p>
                <p ng-show="LineItem.Product.DisplayInventory == 0">
                    <br>
                </p>
            </div>
            <br>
            <a class="btn btn-default btn-block" href="product/{{LineItem.Product.InteropID}}">{{('View' | r) + ' ' + ('Product' | r) | xlat}}</a>
        </div>
    </div>
</div>